<div class="split-container">
  <div class="left-section">
    <img src="/images/mainBg.jpg" alt="Background" />
  </div>

  <div class="right-section">
    <div class="forgot-password-container">
      <h1>{{ getTitle() }}</h1>

      <app-forgot-password-form
        [isLoading]="isLoading"
        [errorMessage]="errorMessage"
        [currentStep]="currentStep"
        (submitEmail)="onSubmitEmail($event)"
        (resendEmail)="onResendEmail()"
        (submitReset)="onSubmitReset($event)"
        (moveToResetStep)="onMoveToResetStep()"
        (backToLoginClick)="onBackToLogin()"
        (goToLoginClick)="onGoToLogin()"
      ></app-forgot-password-form>
    </div>
  </div>
</div>
